p, h4{
    padding: 1.5% 0%;
}


.form-container{

    background-color: #f7f7f9;
    padding: 1% 0%;
    margin: 10% 35%;
    box-shadow: 2px 5px white;
}



@media screen and (max-width: 992px) { 

    .form-container{
        margin: 10% 15%;
    }

 }

 @media screen and (max-width: 767px) { 

    .form-container{
       margin: 10% 5%;
       padding: 5% 0%;
    }

 }