.events-wrapper{
    padding: 2% 5%;
    margin: 10% 15%;
    background-color: #f7f7f9;
    width: 100%;
}

#exit-button{
    width: 7%;
    margin-left: 90%;
    margin-top: 2%;
}

.card, .card-body{
    width: 13rem;
    border-color: greenyellow;
}

.card-text{
    margin: 1% 0%;
}

@media screen and (max-width: 992px) { 

    .my-events-wrapper{
        margin: 0% 1%
    }

    #exit-button{
        width: 10%;
        margin-left: 90%;
        margin-top: 2%;
    }

 }

 @media screen and (max-width: 767px) { 

    #exit-button{
        width: 20%;
        margin-left: 70%;
        margin-top: 2%;
    }

 }